/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #001925;
    color: #caf438;
}

/* Container */
.container {
    max-width: 350px;
    margin: 0 auto;
    height: 100vh;
    padding: 15px;
    background-color: #002733;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Progress Section */
.progress-section {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 15px;
}

.progress-section h2 {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.progress-percentage {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.today-progress, .overall-progress {
    flex: 1;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.today-progress {
    background-color: #bae7ec;
}

.overall-progress {
    background-color: #c4edc8;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    background-color: #002733;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
    background-color: #caf438;
    color: #001925;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item i {
    margin-right: 8px;
}

.menu-item:hover {
    background-color: #ff7a01;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Habit Info */
.habit-info {
    background-color: #013747;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habit-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.habit {
    font-size: 18px;
    font-weight: bold;
    color: #caf438;
    margin-bottom: 8px;
}

.streak-info {
    font-size: 12px;
    color: #87a4b6;
    margin-bottom: 12px;
}

.week-progress {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 30px;
    height: 30px;
    background-color: #002733;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #87a4b6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.day:hover {
    background-color: #caf438;
    color: #001925;
}

.today {
    border: 2px solid #caf438;
}

/* Habit Form Overlay */
.habit-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit-form {
    background: #001925;
    padding: 20px;
    border-left: 5px solid #caf438;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    text-align: center;
    width: 300px;
    position: relative;
}

.habit-form h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.habit-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #002733;
    border: none;
    outline: none;
    color: #87a4b6;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.habit-form input:focus {
    border-left: 5px solid #caf438;
}

.habit-form button {
    padding: 12px;
    background: #caf438;
    color: #001925;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.habit-form button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #caf438;
}

.habit-form .close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #caf438;
}